mark{
    background: linear-gradient(transparent 80%, #7fffd4 0%)
}

table{
    border-collapse: collapse;
    width: 70%;
}
th,td{
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}